:host {
  all: initial;
  display: inline-block;
  contain: content;
}

.b-text {
  color: var(--color-font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-default);
  margin: 0;
  line-height: var(--font-line-height-default);
}
