:host {
  all: initial;
  display: inline-block;
}

.b-link {
  color: var(--color-font-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-default);
  line-height: var(--font-line-height-default);
  vertical-align: bottom;
}

.b-link:hover,
.b-link:focus {
  color: var(--color-primary);
}

.b-link--upper-case {
  text-transform: uppercase;
}
