body {
  background-color: #efefef;
}

.l-app {
  display: flex;
  flex-wrap: wrap;
}

.l-app__item {
  flex: 0 0 auto;
  margin: var(--space-medium);
}

.l-app__item[username="AkinoLucas"] {
  --color-primary: #01a4e9;
  --color-background-primary: #dbf4ff;
}

.l-app__item[username="linspw"] {
  --color-primary: #ba272b;
  --color-background-primary: #fad7d8;
}
