:host {
  all: initial;
  display: block;
}

.b-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.b-list__item {
  --font-line-height-default: var(--font-line-height-high);
  display: flex;
  align-items: center;
  background-color: var(--color-background-primary);
}

.b-list__item:nth-child(even) {
  background-color: var(--color-background-neutral-light);
}
