:host {
  all: initial;
  display: block;
}

.b-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.b-list__item {
  display: flex;
  align-items: center;
  padding: var(--space-extra-small) var(--space-medium);
  background-color: var(--color-background-primary);
}

.b-list__item:nth-child(even) {
  background-color: var(--color-background-neutral-light);
}
