:host {
  all: initial;
  display: inline-block;
}

.card-profile {
  max-width: 496px;
}

.card-profile__wrapper {
  display: grid;
  column-gap: var(--space-small);
  grid-template-areas:
    'avatar user-info'
    'avatar actions'
    'list   list';
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  row-gap: var(--space-small);
}

.card-profile__avatar {
  margin-right: var(--space-large);
  grid-area: avatar;
}

.card-profile__link-profile {
  --b-link-padding: var(--space-micro) var(--space-small);

  margin-top: var(--space-small);
}

.card-profile__user-info {
  display: flex;
  flex-direction: column;
  grid-area: user-info;
}

.card-profile__user-info-line {
  margin-top: var(--space-medium);
}

.card-profile__actions {
  display: flex;
  align-self: end;
  grid-area: actions;
}

.card-profile__action-button {
  flex-grow: 1;
}

.card-profile__action-button:not(:first-child) {
  margin-left: var(--space-medium);
}

.card-profile__list {
  margin-top: var(--space-large);
  grid-area: list;
}

.card-profile__list-title {
  margin-bottom: var(--space-medium);
}

.card-profile__list-content {
  max-height: 240px;
  padding: var(--space-micro);
  overflow-y: auto;
}

.card-profile__list-item {
  --b-link-text-indent: var(--space-medium);
  --b-link-width: 100%;

  display: block;
  width: var(--b-link-width);
}
